.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# ROS 2 / colcon
**/build/
**/install/
**/log/

# CMake
CMakeCache.txt
CMakeFiles/

# Python
__pycache__/
*.pyc

# Editor
.vscode/